.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../img/header.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  position: relative;
}
.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-box h1 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
}
